{
  "env": {
    "node": true
  },
  "extends": [
    "prettier",
    "prettier/standard"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-unused-vars": "error",
    "prettier/prettier": "error"
  }
}
